@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Oxygen:wght@300;400;700&family=Playwrite+IT+Moderna:wght@100..400&family=Satisfy&family=Sigmar&family=Tektur:wght@400..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #f7f7f7;
}

.head{
    height: 88vh;
}

.link:hover {
    cursor: pointer;
}

.linkc:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contactos {
    background: #c29c75;
}

.btn-check:checked+.btn {
    background-color: #c29c75 !important;
    color: white;
}

#fondo {
    background-position: center;
    background-size: cover;
    transition: all .5s ease;
    height: 35em;
}

.botonmas {
    border: 1px solid #c29c75;
    color: #fff;
    transition: all 0.3s ease;
}

.botonmas:hover {
    color: #c29c75;
    border: 1px solid #c29c75;
}


#Traslado {
    background-image: url(../images/transporte.jpg);
    background-position: center;
    background-size: cover;
    transition: all .5s ease;
    background-repeat: no-repeat;
}

#Gastronomia {
    background-image: url(../images/gastronomia.jpg);
    background-position: center;
    background-size: cover;
    transition: all .5s ease;
    background-repeat: no-repeat;
}

#Entretenimiento {
    background-image: url(../images/entretenimiento.webp);
    background-position: center;
    background-size: cover;
    transition: all .5s ease;
    background-repeat: no-repeat;
}

#Actividades {
    background-image: url(../images/actividades.webp);
    background-position: center;
    background-size: cover;
    transition: all .5s ease;
    background-repeat: no-repeat;
}

.hl {
    border-color: transparent
}

.extras{
    height: 20em;
}

.extras:hover {
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-blend-mode: darken;
}

.txtExtras, .hl{
    transition: all 0.5s ease;
}

.extras:hover .txtExtras {
    transform: translateY(4em);
}

.extras:hover .hl{
    border: 3px solid #c29c75;
    transition: all 0.5s ease-in-out;
    transform: translateY(5.5em);
    width: 1px;
}

@media (max-width: 768px) {
    .head {
        height: 40vh;
    }

    .extras{
        height: 10em;
    }
}