body{
    background: #fff;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url(../images/Welcome-To-The-Extraordinary.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
}