body{
    background: #fff;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(../images/vallarta/Vidanta-ataglance-puertovallarta-carousel.jpg);
    background-position: center;
    background-size: cover;
    height: 92vh;
}

.deslis {
    transition: all 0.5s ease;
}

.deslis:hover {
    transform: translateY(20px);
    cursor: pointer;
}

.carousel{
    height: 30em;
}

.resort{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
}

#mayanPalace{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/vallarta/mayan-palace.jpg);
}

.borde{
    border: 1px solid #c29c75;
}

.boton:hover{
    border: 1px solid #c29c75;
    color: #c29c75;
}

@media (max-width: 768px) {
    .header{
        background-image: url(../images/nayarit/nayarit.jpg);
        background-position: center;
        background-size: cover;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel{
        height: 15em;
    }

    .resort{
        height: 10em;
    }
}