<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../css/acapulco.css">
    <link rel="stylesheet" href="../css/nav.css">
    <title>World Acapulco</title>
    <link rel="icon" href="../images/logo.png" type="image/png">
</head>

<body class="overflow-x-hidden">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <nav class="navbar navbar-expand-lg bg-dark p-0 m-0 d-flex d-lg-none flex-wrap w-100 z-3">
        <div class="container nav-justified">
            <a href="../index.html" class="navbar-brand">
                <img src="../images/logo.png" alt="" style="width: 50px;">
            </a>
            <div class="navbar-brand text-center contactos text-white px-2" style="background: #c29c75;">
                <span class="linkc fs-6">55-7076-0820</span>
                <p><span class="linkc fs-6">Contactanos</span> | <span class="linkc fs-6">Noticias</span></p>
            </div>
            <button class="navbar-toggler btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span>
                    <ion-icon name="menu-outline" class="text-white"></ion-icon>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto w-100 h-100">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn text-white btn-dark nav-link" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Destinos
                            </button>
                            <ul class="dropdown-menu bg-dark border-dark-subtle">
                                <li><a class="btn text-white btn-dark nav-link" href="../views/nayarit.html">Nuevo
                                        Nayarit-Vallarta</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/riviera.html">Riviera
                                        Maya</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/cabos.html">Los Cabos</a>
                                </li>
                                <li><a class="btn text-white btn-dark nav-link"
                                        href="../views/acapulco.html">Acapulco</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/puerto.html">Puerto
                                        Peñasco</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/vallarta.html">Puerto
                                        Vallarta</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn text-white btn-dark nav-link" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Resorts
                            </button>
                            <ul class="dropdown-menu bg-dark border-dark-subtle">
                                <li><a class="btn text-white btn-dark nav-link" href="../views/Estates.html">The Estates</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/Grand.html">Grand Luxxe</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/DeLuxxe.html">DeLuxxe At The Grand Mayan</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/Kingdom.html">Kingdom Of The Sun</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/Bliss.html">The Grand Bliss</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/Mayan.html">The Grand Mayan</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/Celebrate.html">Celebrate Park</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/Palace.html">Mayan Palace</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a href="../views/entretenimiento.html" class="btn text-white btn-dark nav-link">Entretenimiento</a></li>
                    <li class="nav-item"><a href="../views/transporte.html" class="btn text-white btn-dark nav-link">Transporte</a></li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn text-white btn-dark nav-link" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Eventos
                            </button>
                            <ul class="dropdown-menu bg-dark border-dark-subtle">
                                <li><a class="btn text-white btn-dark nav-link" href="../views/eventos.html">Grupos y Eventos</a></li>
                                <li><a class="btn text-white btn-dark nav-link" href="../views/bodas.html">Bodas</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button type="button" class="btn text-white btn-dark nav-link dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                Iniciar Sesion
                            </button>
                            <div class="dropdown-menu bg-dark border-0 p-4 text-white">
                                <div class="mb-3">
                                    <label for="exampleDropdownFormEmail2" class="form-label">Correo Electronico</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail2"
                                        placeholder="email@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleDropdownFormPassword2" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword2"
                                        placeholder="Password">
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                                        <label class="form-check-label" for="dropdownCheck2">
                                            Recordar Contraseña
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-light btnIngresar">Ingresar</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <nav class="navbar navbar-expand-lg bg-dark p-0 m-0 d-none d-lg-flex flex-wrap w-100 z-3 position-sticky top-0"
        style="z-index: 1060 !important;">
        <div class="container nav-justified">
            <a href="../index.html" class="navbar-brand">
                <img src="../images/logo.png" alt="" style="width: 50px;">
            </a>
            <div class="navbar-brand text-center text-white px-2" style="background: #c29c75;">
                <span class="linkc fs-6">55-7076-0820</span>
                <p><span class="linkc fs-6">Contactanos</span> | <span class="linkc fs-6">Noticias</span></p>
            </div>
            <button class="navbar-toggler btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span>
                    <ion-icon name="menu-outline" class="text-white"></ion-icon>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto w-100 h-100">
                    <li class="nav-item"><button class="btn text-white btn-dark nav-link dropdown-toggle"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" id="navDestinos">Destinos</button>
                    </li>

                    <li class="nav-item"><button class="btn text-white btn-dark nav-link dropdown-toggle"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" id="navResorts">Resorts</button>
                    </li>

                    <li class="nav-item"><a href="../views/entretenimiento.html" class="btn text-white btn-dark nav-link">Entretenimiento</a></li>
                    <li class="nav-item"><a href="../views/transporte.html" class="btn text-white btn-dark nav-link">Transporte</a></li>

                    <li class="nav-item"><button class="btn text-white btn-dark nav-link dropdown-toggle"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" id="navEventos">Eventos</button>
                    </li>

                    <li class="nav-item"><button class="btn text-white btn-dark nav-link dropdown-toggle"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" id="navLogin">Iniciar
                            Sesion</button></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Offcanvas Top -->
    <div class="offcanvas offcanvas-top h-75 w-75 mx-auto" tabindex="-1" id="offcanvasTop"
        aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header bg-dark text-white mt-5 pt-5">
            <h5 class="offcanvas-title w-100 text-center" id="offcanvasTopLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark text-white">
            <div class="container h-75">
                <div class="row h-100 " id="navOffcanvas">

                </div>
            </div>
        </div>
    </div>

    <header
        class="head top-0 start-0 w-100 position-relative header d-flex justify-content-center align-items-center flex-column text-light gap-0">
        <h2 style="font-size: 3em;" class="mt-auto">Acapulco</h2>
        <hr class="w-25">
        <span class="fs-5">En un Vistazo</span>

        <div class="mt-auto mb-5 fs-1 deslis">
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>
    </header>


    <main class="row my-5 ">
        <div class="col-lg-7 col-md-12 mx-auto row">
            <h3 class="w-100 text-center mb-4">El clielo a sus pies</h3>
            <p class="w-100 text-center">World Acapulco es un lugar perfecto para las escapadas romanticas y las vacaciones familiares. <br>Disfrute de mas de un kilometro de playa, piscinas inmaculadas, una vida nocturna prospera y por supuesto, el mejor servicio de Mexico.</p>
        </div>

        <div id="carouselExample" class="carousel slide col-lg-6 mx-auto col-md-12 my-lg-5">
            <div class="carousel-inner h-100">
                <div class="carousel-item active">
                    <img src="../images/acapulco/Vidanta-ataglance-acapulco-gallery-1.jpg" class="img-fluid w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/acapulco/Vidanta-ataglance-acapulco-gallery-2.jpg" class="img-fluid w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/acapulco/Vidanta-ataglance-acapulco-gallery-3.jpg" class="img-fluid w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/acapulco/Vidanta-ataglance-acapulco-gallery-4.jpg" class="img-fluid w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/acapulco/Vidanta-ataglance-acapulco-gallery-5.jpg" class="img-fluid w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/acapulco/Vidanta-ataglance-acapulco-gallery-6.jpg" class="img-fluid w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/acapulco/Vidanta-ataglance-acapulco-gallery-7.jpg" class="img-fluid w-100"
                        alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="col-lg-9 col-md-12 mx-auto pb-3 row rounded-3" style="background: #f7f7f7;">
            <h4 class="col-12 text-center mb-3 fs-2">Hoteles Resort</h4>
            <div class="d-flex col-12 gap-1 mb-1">

                <button class="btn btn-dark resort w-100 text-center" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasGrandMayan" aria-controls="offcanvasGrandMayan" id="granMayan">
                    <h3 class="text-light fs-4">The Grand Mayan</h3>
                </button>

                <button class="btn btn-dark resort w-100 text-center" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMayanPalace" aria-controls="offcanvasMayanPalace" id="mayanPalace">
                    <h3 class="text-light fs-4">Mayan Palace</h3>
                </button>
            </div>
        </div>

        <!-- Offcanvas con diseño de 6+6 columnas -->
        <div class="offcanvas offcanvas-bottom h-50" tabindex="-1" id="offcanvasGrandMayan" data-bs-backdrop="static">
            <div class="offcanvas-body container-fluid">
                <div class="row h-100">
                    <div class="col-md-12 col-lg-6 d-flex align-items-center justify-content-center">
                        <img src="../images/acapulco/The-Grand-Mayan.jpg"
                            alt="The Grand Mayan" class="img-fluid w-75">
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-center">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title fs-2 text-center w-100">The Grand Mayan</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <p class="fs-5 h-100 d-flex align-items-center justify-content-center text-center">Un refugio
                            lleno de comodidad, relajacion y lujo para toda la familia.</p>
                        <div class="mt-auto pt-3">
                            <a href="./Mayan.html" class="btn btn-dark btn-lg w-100">Más Información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-bottom h-50" tabindex="-1" id="offcanvasMayanPalace" data-bs-backdrop="static">
            <div class="offcanvas-body container-fluid">
                <div class="row h-100">
                    <div class="col-md-12 col-lg-6 d-flex align-items-center justify-content-center">
                        <img src="../images/acapulco/Mayan-Palace.jpg"
                            alt="Mayan Palace" class="img-fluid w-75">
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-center">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title fs-2 text-center w-100">Mayan Palace</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <p class="fs-5 h-100 d-flex align-items-center justify-content-center text-center">Uno de los
                            favoritos de familias de todo el mundo que cuenta con alojamientos frescos y espaciosos.</p>
                        <div class="mt-auto pt-3">
                            <a href="./Palace.html" class="btn btn-dark btn-lg w-100">Más Información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-white pt-5" style="background: #434343;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 text-center">
                    <h5 class="text-uppercase">Kire's World</h5>
                    <p>Descubre un mundo de lujo, entretenimiento y experiencias inolvidables en nuestros destinos
                        exclusivos.</p>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <h5 class="text-uppercase">Explora</h5>
                    <ul class="list-unstyled">
                        <li><a href="#destinos" class="text-white text-decoration-none">Destinos</a></li>
                        <li><a href="#resorts" class="text-white text-decoration-none">Resorts</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Entretenimiento</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Gastronomía</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <h5 class="text-uppercase">Acerca de</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Nuestra Historia</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Sostenibilidad</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Carreras</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase">Síguenos</h5>
                    <div class="d-flex gap-3">
                        <a href="#" class="text-white"><ion-icon name="logo-facebook" size="large"></ion-icon></a>
                        <a href="#" class="text-white"><ion-icon name="logo-twitter" size="large"></ion-icon></a>
                        <a href="#" class="text-white"><ion-icon name="logo-instagram" size="large"></ion-icon></a>
                        <a href="#" class="text-white"><ion-icon name="logo-youtube" size="large"></ion-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="d-none d-lg-block row" style="background: #252525;">
        <div class="col-7 mx-auto">
            <div class="w-100 d-flex gap-1">
                <button class="btn w-100 h-75 my-auto"><img src="../images/zonas/estates.svg" alt="Estates Resort"
                        class="img-fluid object-fit-cover"></button>
                <button class="btn w-100 h-75 my-auto"><img src="../images/zonas/grandluxxe.svg"
                        alt="Grand Luxxe Resort" class="img-fluid object-fit-cover"></button>
                <button class="btn w-100 h-75 my-auto"><img src="../images/zonas/grandbliss.svg"
                        alt="Grand Bliss Resort" class="img-fluid object-fit-cover"></button>
                <button class="btn w-100 h-75 my-auto"><img src="../images/zonas/grandmayan.svg"
                        alt="Grand Mayan Resort" class="img-fluid object-fit-cover"></button>
                <button class="btn w-100 h-75 my-auto"><img src="../images/zonas/blissresorts.svg" alt="Bliss Resorts"
                        class="img-fluid object-fit-cover"></button>
                <button class="btn w-100 h-75 my-auto"><img src="../images/zonas/mayanpalace.svg"
                        alt="Mayan Palace Resort" class="img-fluid object-fit-cover"></button>
            </div>
        </div>
    </section>
    <div class="text-center p-3 text-light" style="background: #0c0c0c;">
        <p class="mb-0">&copy; 2025 Kire's World. Todos los derechos reservados.</p>
    </div>

</body>
<script src="../plugins/bootstrap.bundle.js"></script>
<script type="module" src="../js/nav.js"></script>

</html>